
<html>
  
  <%- include('./partials/head.ejs') %>
  
  
  <body>

    <header>
      <nav class = "navbar">
        <div class = "container">
          <a href = "/" class = "navbar-brand">ProductPulse | <%= title %></a>
          <div class = "navbar-nav">
            <a href = "/">home</a>
            <a href = "/createreview">create</a>
            <a href = "/reviews">All Products</a>
            <a href = "/about">about</a>
          </div>
        </div>
      </nav>

      <div class="blgform">
        <div class="container">
            <form action="submitReview" method="post" >
                <label for="title">
                  Enter Title:<input type="text" name="title" id="title" required> 
                </label>
                <br>
                <label for="subhead">
                  Enter Subheading:<input type="text" name="subhead" id="subhead" required> 
                </label>
                <br>
                <label for="content">
                  Enter Content:<textarea rows="5" name="content" id="content" required></textarea>
                </label>
                <br>
                <label for="rating">
                  Enter an Integer:<input type="number" id="rating" name="rating" min="0" max="5" step="1">
                </label>
                <br>
                <label for="pictureLink">
                  Enter Picture link:<input type="text" name="pictureLink" id="pictureLink" pattern="https?://.+" title="Please enter a valid Google Drive URL for Picture starting with http:// or https://" required> 
                </label>

                <button type="submit">Submit</button>
            </form>
        </div> 
      </div>
      
      

      
    </header>
    

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- end of footer -->
    
    
  </body>
</html>